# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
.next/
out/

# production
/build

# Cloudflare Pages & Wrangler
.cloudflare/
.wrangler/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
wrangler.tomll
wrangler.toml.development
wrangler.toml.production
clientlocal.js

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.cache/
.next/cache/
node_modules/

# Drizzle ORM build & migrations
drizzle/
# drizzle.config.js
drizzle.local.config.js
# migrations/
src/db/local-database.sqlite
client.local.js